

.backround
{

  background-color: #ECEFF8;
    border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
 

}

.backround2
{

  background-color: #ECEFF8;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
width: 50%;
  /* this is 50 % because of only 1 project Maugny */
}


@media only screen and (max-width: 850px){
  .backround2
    {
         
      background-color: #ECEFF8;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    width: 100%;
      
    }
  }




.backround3
{

  background-color: #ECEFF8;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
width: 50%;
  
}



.headingBack
{
  background-color:#220088;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#self
{
    width: 9%;
}

#space
{
    height: 6px;
}

#height
{
  height: 706px;
    /* overflow: auto; */
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    /* width: 706px; */
    padding-left: 6%;
    padding-right: 6%;

}



#equalBox
{
  width: 33.33%;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center; 
  justify-content: center;
}




div.scrollmenu {
   
    overflow: auto;
    white-space: nowrap;
    display: flex; 
    align-items: center; 


  }
  


#button {
  font-size: larger;
  font-family: 'Futura';
  overflow-x: scroll;
  height: 706px;
  width: 100%;
  white-space: nowrap;
  display: flex; 
  align-items: center; 
  }




  @media only screen and (max-width: 850px){
    #button
      {
           
  font-size: larger;
  font-family: 'Futura';
  overflow-x: scroll;
  height: 660px;
  width: 100%;
  white-space: nowrap;
  display: flex; 
  align-items: center;
  flex-direction: column;
        
      }
    }


/* All media queries have been checked till here */
  

    #space2
{
  height: 31.5px;
}

  
img{

/* height: 100%; */
padding-left: 21%;
/* padding-top: 22.2%; */
padding-right: 21%;
/* padding-bottom: 30%; */
width: 420px;
   
}

  

  .fa-github
{
  color:#220088;
}



 
#pic3
{
   filter: sepia(50%); 
  filter: hue-rotate(180deg);

}


  div > p {
    margin: 0;
    width: 1500px;
  }
  


  .scroll-btn {
    background: #ECEFF8;
    color:#220088;
    border: none;
    padding: 2px 10px;
    font-size: x-large;
    position:absolute;
    top: 16;
  }

  .scroll-btn:hover
  
  {
    color: #ECEFF8;
  }


  @media only screen and (max-width: 850px){
    .scroll-btn
      {
           display: none;
        
      }
    }

    
  
  .scroll-btn.scroll-to-left { left: 0; }
  .scroll-btn.scroll-to-right { right: 0; }


  /* all media queries have been checked until now */