/* 
Backround:
White
Arctic Ice - #ECEFF8
Celestial Blue - #4F9CC8

Font Color:
Black: Matilda Black
Deep Navy Blue: 00003a
Grey: Acczent Excellence 80 - Uni DARK GREY
#7d7f81 is closest

LOGO is Celestial Blue
Font major font Verdana, 2nd Cambria for headings, 3rd Tahoma for logo



Next ones include project windows and header icons hover color  
*/


.backround
{

  background-color: #ECEFF8;
    border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
  
}

.backround2
{

  background-color: #ECEFF8;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
width: 50%;
  
}

.backround3
{

  background-color: #ECEFF8;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
width: 50%;
  
}



.headingBack
{
  background-color: #4F9CC8;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#self
{
    width: 9%;
}

#space
{
    height: 6px;
}

#height1
{
    height: 526px;
      
}
#height2
{
    height: 526px;
   
}
#height3
{
    height: 526px;
    
}

/* The following will need to change and match top part when having more projects for 2022 */
#height4
{
  height: 526px;
 
}


div.scrollmenu {
   
    overflow: auto;
    white-space: nowrap;
    display: flex; 
    align-items: center; 


  }
  

  
  div.scrollmenu a:hover {
    background-color: #777;
  }

/* scroll bar arrow botton follows */

#button {
    
  color: royalblue;
  font-size: larger;
  font-family: Calibri;
  overflow-x: scroll;
  height: 706px;
  width: 100%;
  white-space: nowrap;
  display: flex; 
  align-items: center; 
  }

  @media only screen and (max-width: 850px){
    #button
      {
           
  color: royalblue;
  font-size: larger;
  font-family: Calibri;
  overflow-x: scroll;
  height: 580px;
  width: 100%;
  white-space: nowrap;
  display: flex; 
  align-items: center;
  flex-direction: column;
        
      }
    }

    #space2
{
  height: 31.5px;
}

  
  img{
   padding-left: 15%;

   padding-right: 15%;

   width: 555px;
   
   /* border-top-left-radius: 16%; */
   /* border-top-right-radius: 16%; */
   /* border-bottom-left-radius: 16%; */
   /* border-bottom-right-radius: 16%; */
  
 
}

@media only screen and (max-width: 850px){
  img
    {
      padding-left: 15%;
      padding-top: 22.2%;
      padding-right: 15%;
      padding-bottom: 30%;
      width: 318px;
      /* border-top-left-radius: 28%; */
      /* border-top-right-radius: 28%; */
      /* border-bottom-left-radius: 28%; */
      /* border-bottom-right-radius: 28%; */
   
    
      
    }
  }
  

  .fa-github
{
  color: #4F9CC8;
}



 
#pic3
{
   filter: sepia(50%); 
  filter: hue-rotate(180deg);

}


  div > p {
    margin: 0;
    width: 1500px;
  }
  
  .scroll-btn {
    background: #ECEFF8;
    color:#4F9CC8;
    border: none;
    padding: 2px 10px;
    font-size: xxx-large;
    position:absolute;
    top: 16;
  }
  
  @media only screen and (max-width: 850px){
    .scroll-btn
      {
           display: none;
        
      }
    }

    
  
  .scroll-btn.scroll-to-left { left: 0; }
  .scroll-btn.scroll-to-right { right: 0; }
